html {
    font-size: small;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
}

a {
    display: inline-block;
    color: #222;
}

a:link, a:visited {
    padding: 4px;
    text-align: center;
    font-family: arial, sans-serif;
}

a:hover, a:active {
    text-decoration: underline;
}

#view {
    font: 13px/27px Arial, sans-serif;
    font-color: black;
}

#header {
    width: 97.5%;
    text-align: right;
    display: inline-block;
    height: 60px
    line-height: 58px;
    vertical-align: middle;
}

#header ui li a {
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 0;
    margin-right: 0;
    
}

.profile {
    text-align: right;
}

.gmail {
    text-align: right;
    padding-left: 15px;
    vertical-align: middle;
}

.images {
    text-align: right;
    padding-left: 15px;
    vertical-align: middle;
}

#logoplusform {
    margin-top: 40px;
}

.footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    height: 35px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer ul li a {
    width: 120px;
}

#leftfoot {
    float: left;
}

#rightfoot {
    float: right;
}